/* contact form style */
/* glass card */
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin-top: 20px;
  /* margin-bottom: 20px; */
}

@media only screen and (max-width: 768px) {
  .container {
    min-height: 70vh;
  }
  .card {
    width: 200px;
  }
}

.card {
  width: 550px;
  /* min-height: 150px; */
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 1rem;
  padding: 1.5rem;
  z-index: 10;
  color: whitesmoke;
}

.card .title {
  font-weight: bold;
  color: rgb(27, 149, 10);
  font-size: 23px;
}

.card .subtitle {
  font-size: 15px;
  color: black;
}

label {
  display: block;
  margin-top: 12px;
  font-size: 16px;
  font-weight: 500;
}
input {
  display: block;
  height: 30px;
  width: 100%;
  border-radius: 5px;
  padding: 0 10px;
  margin-top: 3px;
  font-size: 14px;
  font-weight: 300;
  border: 1.5px solid;
}
textarea {
  border-radius: 5px;
  font-size: 14px;
  font-weight: 300;
  border: 1.5px solid;
  min-height: 150px;
}

.btn_contact {
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  background-color: #f55951;
  padding: 0.9em 0;
  display: inline-block;
  border: none;
  border-radius: 0.5em;
  width: 100%;
  margin-bottom: 1.3em;
}
